In [1]:
import pandas as pd
import numpy as np

In [2]:
df1=pd.read_csv('C:/Users/SANTHOSH/Desktop/practise/flask/movie_recommandation/datasets/credits.csv')
df1.tail(15)

,cast,crew,id
45461,"[{'cast_id': 2, 'character': '', 'credit_id': ...","[{'credit_id': '52fe4a71c3a36847f81ce35b', 'de...",106807
45462,[],"[{'credit_id': '539ef1090e0a263dd00000d7', 'de...",276895
45463,"[{'cast_id': 1, 'character': 'Devki Sabarwal',...","[{'credit_id': '58ee55bbc3a3683df500bd0f', 'de...",404604
45464,"[{'cast_id': 0, 'character': 'Lauren', 'credit...","[{'credit_id': '587626f4c3a3682b33008299', 'de...",420346
45465,"[{'cast_id': 5, 'character': '', 'credit_id': ...","[{'credit_id': '5330178a9251413a720055e3', 'de...",67179
45466,"[{'cast_id': 5, 'character': 'The Creeper', 'c...","[{'credit_id': '58152c139251415a7f0047e2', 'de...",84419
45467,"[{'cast_id': 30, 'character': 'Debuty Hank Har...","[{'credit_id': '56ff6ddbc3a3686e9e0013bc', 'de...",390959
45468,"[{'cast_id': 2, 'character': 'Branwall', 'cred...","[{'credit_id': '5403d669c3a3682d9800427d', 'de...",289923
45469,"[{'cast_id': 1, 'character': 'Kira (as Cassand...","[{'credit_id': '5757f36ac3a3687d6f000e8a', 'de...",222848
45470,"[{'cast_id': 1, 'character': 'Sir Robert Hode'...","[{'credit_id': '52fe44439251416c9100a899', 'de...",30840
45471,"[{'cast_id': 0, 'character': '', 'credit_id': ...","[{'credit_id': '5894a97d925141426c00818c', 'de...",439050
45472,"[{'cast_id': 1002, 'character': 'Sister Angela...","[{'credit_id': '52fe4af1c3a36847f81e9b15', 'de...",111109
45473,"[{'cast_id': 6, 'character': 'Emily Shaw', 'cr...","[{'credit_id': '52fe4776c3a368484e0c8387', 'de...",67758
45474,"[{'cast_id': 2, 'character': '', 'credit_id': ...","[{'credit_id': '533bccebc3a36844cf0011a7', 'de...",227506
45475,[],"[{'credit_id': '593e676c92514105b702e68e', 'de...",461257

In [3]:
df2=pd.read_csv('C:/Users/SANTHOSH/Desktop/practise/flask/movie_recommandation/datasets/movies_metadata.csv')
df2.tail(10)

C:\Users\SANTHOSH\anaconda3\lib\site-packages\IPython\core\interactiveshell.py:3165: DtypeWarning: Columns (10) have mixed types.Specify dtype option on import or set low_memory=False.
  has_raised = await self.run_ast_nodes(code_ast.body, cell_name,

,adult,belongs_to_collection,budget,genres,homepage,id,imdb_id,original_language,original_title,overview,...,release_date,revenue,runtime,spoken_languages,status,tagline,title,video,vote_average,vote_count
45456,False,NaN,0,"[{'id': 27, 'name': 'Horror'}, {'id': 9648, 'n...",NaN,84419,tt0038621,en,House of Horrors,An unsuccessful sculptor saves a madman named ...,...,1946-03-29,0.0,65.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,Meet...The CREEPER!,House of Horrors,False,6.3,8.0
45457,False,NaN,0,"[{'id': 9648, 'name': 'Mystery'}, {'id': 27, '...",NaN,390959,tt0265736,en,Shadow of the Blair Witch,"In this true-crime documentary, we delve into ...",...,2000-10-22,0.0,45.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,NaN,Shadow of the Blair Witch,False,7.0,2.0
45458,False,NaN,0,"[{'id': 27, 'name': 'Horror'}]",NaN,289923,tt0252966,en,The Burkittsville 7,A film archivist revisits the story of Rustin ...,...,2000-10-03,0.0,30.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,"Do you know what happened 50 years before ""The...",The Burkittsville 7,False,7.0,1.0
45459,False,NaN,0,"[{'id': 878, 'name': 'Science Fiction'}]",NaN,222848,tt0112613,en,Caged Heat 3000,It's the year 3000 AD. The world's most danger...,...,1995-01-01,0.0,85.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,NaN,Caged Heat 3000,False,3.5,1.0
45460,False,NaN,0,"[{'id': 18, 'name': 'Drama'}, {'id': 28, 'name...",NaN,30840,tt0102797,en,Robin Hood,"Yet another version of the classic epic, with ...",...,1991-05-13,0.0,104.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,NaN,Robin Hood,False,5.7,26.0
45461,False,NaN,0,"[{'id': 18, 'name': 'Drama'}, {'id': 10751, 'n...",http://www.imdb.com/title/tt6209470/,439050,tt6209470,fa,رگ خواب,Rising and falling between a man and woman.,...,NaN,0.0,90.0,"[{'iso_639_1': 'fa', 'name': 'فارسی'}]",Released,Rising and falling between a man and woman,Subdue,False,4.0,1.0
45462,False,NaN,0,"[{'id': 18, 'name': 'Drama'}]",NaN,111109,tt2028550,tl,Siglo ng Pagluluwal,An artist struggles to finish his work while a...,...,2011-11-17,0.0,360.0,"[{'iso_639_1': 'tl', 'name': ''}]",Released,NaN,Century of Birthing,False,9.0,3.0
45463,False,NaN,0,"[{'id': 28, 'name': 'Action'}, {'id': 18, 'nam...",NaN,67758,tt0303758,en,Betrayal,"When one of her hits goes wrong, a professiona...",...,2003-08-01,0.0,90.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,A deadly game of wits.,Betrayal,False,3.8,6.0
45464,False,NaN,0,[],NaN,227506,tt0008536,en,Satana likuyushchiy,"In a small town live two brothers, one a minis...",...,1917-10-21,0.0,87.0,[],Released,NaN,Satan Triumphant,False,0.0,0.0
45465,False,NaN,0,[],NaN,461257,tt6980792,en,Queerama,50 years after decriminalisation of homosexual...,...,2017-06-09,0.0,75.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,NaN,Queerama,False,0.0,0.0

In [4]:
df2['release_date'] = pd.to_datetime(df2['release_date'], errors='coerce')

df2['year'] = df2['release_date'].dt.year

df2['year'].value_counts().sort_index()

1874.0       1
1878.0       1
1883.0       1
1887.0       1
1888.0       2
          ...
2015.0    1905
2016.0    1604
2017.0     532
2018.0       5
2020.0       1
Name: year, Length: 135, dtype: int64

In [5]:
# Getting only 2017 movies as we already have movies up to the year 2016 in preprocessing 1 file. 
# We don't have enough data for the movies from 2018, 2019 and 2020. 
# We'll deal with it in the upcoming preprocessing files
df2 = df2.loc[df2.year == 2017,['genres','id','title','year']]

In [6]:
df2['id'] = df2['id'].astype(int)

In [7]:
data = pd.merge(df1, df2, on='id')

pd.set_option('display.max_colwidth', 75)
data

,cast,crew,id,genres,title,year
0,"[{'cast_id': 1, 'character': 'Captain Jack Sparrow', 'credit_id': '52fe...","[{'credit_id': '52fe4c9cc3a36847f8236a65', 'department': 'Production', ...",166426,"[{'id': 12, 'name': 'Adventure'}, {'id': 28, 'name': 'Action'}, {'id': ...",Pirates of the Caribbean: Dead Men Tell No Tales,2017.0
1,"[{'cast_id': 2, 'character': 'Bruce Wayne / Batman', 'credit_id': '535e...","[{'credit_id': '55ef66dbc3a3686f1700a52d', 'department': 'Production', ...",141052,"[{'id': 28, 'name': 'Action'}, {'id': 12, 'name': 'Adventure'}, {'id': ...",Justice League,2017.0
2,"[{'cast_id': 0, 'character': 'Thor Odinson', 'credit_id': '545d46a80e0a...","[{'credit_id': '56a93fa4c3a36872db001e7a', 'department': 'Writing', 'ge...",284053,"[{'id': 28, 'name': 'Action'}, {'id': 12, 'name': 'Adventure'}, {'id': ...",Thor: Ragnarok,2017.0
3,"[{'cast_id': 3, 'character': 'Peter Quill / Star-Lord', 'credit_id': '5...","[{'credit_id': '59171547925141583c0315a6', 'department': 'Sound', 'gend...",283995,"[{'id': 28, 'name': 'Action'}, {'id': 12, 'name': 'Adventure'}, {'id': ...",Guardians of the Galaxy Vol. 2,2017.0
4,"[{'cast_id': 0, 'character': 'King Louis XIV', 'credit_id': '5431dd580e...","[{'credit_id': '5431de49c3a36825d300007e', 'department': 'Directing', '...",245842,"[{'id': 14, 'name': 'Fantasy'}, {'id': 28, 'name': 'Action'}, {'id': 12...",The King's Daughter,2017.0
...,...,...,...,...,...,...
526,"[{'cast_id': 0, 'character': 'Satu', 'credit_id': '597e2086c3a368544001...","[{'credit_id': '597e22f69251415d7801c74a', 'department': 'Directing', '...",468707,"[{'id': 10749, 'name': 'Romance'}, {'id': 35, 'name': 'Comedy'}]",Thick Lashes of Lauri Mäntyvaara,2017.0
527,"[{'cast_id': 0, 'character': 'Detective Simmons', 'credit_id': '593ba04...","[{'credit_id': '593ba0c29251410593009be3', 'department': 'Writing', 'ge...",461297,"[{'id': 80, 'name': 'Crime'}, {'id': 35, 'name': 'Comedy'}, {'id': 28, ...",Cop and a Half: New Recruit,2017.0
528,[],"[{'credit_id': '5981a15c92514151e0011b51', 'department': 'Sound', 'gend...",455661,"[{'id': 10751, 'name': 'Family'}, {'id': 16, 'name': 'Animation'}, {'id...",In a Heartbeat,2017.0
529,"[{'cast_id': 1, 'character': 'Devki Sabarwal', 'credit_id': '577809adc3...","[{'credit_id': '58ee55bbc3a3683df500bd0f', 'department': 'Sound', 'gend...",404604,"[{'id': 80, 'name': 'Crime'}, {'id': 18, 'name': 'Drama'}, {'id': 53, '...",Mom,2017.0
530,[],"[{'credit_id': '593e676c92514105b702e68e', 'department': 'Directing', '...",461257,[],Queerama,2017.0

In [8]:
# evaluates an expression node or a string containing a Python literal or container display
import ast
data['genres'] = data['genres'].map(lambda x: ast.literal_eval(x))
data['cast'] = data['cast'].map(lambda x: ast.literal_eval(x))
data['crew'] = data['crew'].map(lambda x: ast.literal_eval(x))

In [9]:
def make_genresList(x):
    gen = []
    st = " "
    for i in x:
        if i.get('name') == 'Science Fiction':
            scifi = 'Sci-Fi'
            gen.append(scifi)
        else:
            gen.append(i.get('name'))
    if gen == []:
        return np.NaN
    else:
        return (st.join(gen))

In [10]:
data['genres_list'] = data['genres'].map(lambda x: make_genresList(x))

data['genres_list']

0      Adventure Action Fantasy Comedy
1      Action Adventure Fantasy Sci-Fi
2      Action Adventure Fantasy Sci-Fi
3       Action Adventure Comedy Sci-Fi
4             Fantasy Action Adventure
                    ...
526                     Romance Comedy
527         Crime Comedy Action Family
528    Family Animation Romance Comedy
529               Crime Drama Thriller
530                                NaN
Name: genres_list, Length: 531, dtype: object

In [11]:
def get_actor1(x):
    casts = []
    for i in x:
        casts.append(i.get('name'))
    if casts == []:
        return np.NaN
    else:
        return (casts[0])

In [12]:
def get_actor2(x):
    casts = []
    for i in x:
        casts.append(i.get('name'))
    if casts == [] or len(casts)<=1:
        return np.NaN
    else:
        return (casts[1])

In [13]:
def get_actor3(x):
    casts = []
    for i in x:
        casts.append(i.get('name'))
    if casts == [] or len(casts)<=2:
        return np.NaN
    else:
        return (casts[2])

In [15]:
data['actor_1_name'] = data['cast'].map(lambda x: get_actor1(x))
data['actor_2_name'] = data['cast'].map(lambda x: get_actor2(x))
data['actor_3_name'] = data['cast'].map(lambda x: get_actor3(x))

print(data['actor_1_name'])
print('------------------')
print(data['actor_2_name'])
print('------------------')
print(data['actor_3_name'])
print('------------------')

0               Johnny Depp
1               Ben Affleck
2           Chris Hemsworth
3               Chris Pratt
4            Pierce Brosnan
               ...
526          Inka Haapamäki
527    Lou Diamond Phillips
528                     NaN
529          Sridevi Kapoor
530                     NaN
Name: actor_1_name, Length: 531, dtype: object
------------------
0       Javier Bardem
1        Henry Cavill
2      Tom Hiddleston
3         Zoe Saldana
4        William Hurt
            ...
526     Rosa Honkonen
527     Wallace Shawn
528               NaN
529         Sajal Ali
530               NaN
Name: actor_2_name, Length: 531, dtype: object
------------------
0        Geoffrey Rush
1            Gal Gadot
2       Cate Blanchett
3        Dave Bautista
4      Benjamin Walker
            ...
526     Tiitus Rantala
527        Gina Holden
528                NaN
529     Akshaye Khanna
530                NaN
Name: actor_3_name, Length: 531, dtype: object
------------------

In [16]:
def get_directors(x):
    dt = []
    st = " "
    for i in x:
        if i.get('job') == 'Director':
            dt.append(i.get('name'))
    if dt == []:
        return np.NaN
    else:
        return (st.join(dt))

In [18]:
data['director_name'] = data['crew'].map(lambda x: get_directors(x))
data['director_name']

0      Joachim Rønning Espen Sandberg
1                         Zack Snyder
2                       Taika Waititi
3                          James Gunn
4                       Sean McNamara
                    ...
526                  Hannaleena Hauru
527             Jonathan A. Rosenbaum
528          Beth David Esteban Bravo
529                      Ravi Udyawar
530                     Daisy Asquith
Name: director_name, Length: 531, dtype: object

In [19]:
movie = data.loc[:,['director_name','actor_1_name','actor_2_name','actor_3_name','genres_list','title']]

movie.tail()

,director_name,actor_1_name,actor_2_name,actor_3_name,genres_list,title
526,Hannaleena Hauru,Inka Haapamäki,Rosa Honkonen,Tiitus Rantala,Romance Comedy,Thick Lashes of Lauri Mäntyvaara
527,Jonathan A. Rosenbaum,Lou Diamond Phillips,Wallace Shawn,Gina Holden,Crime Comedy Action Family,Cop and a Half: New Recruit
528,Beth David Esteban Bravo,NaN,NaN,NaN,Family Animation Romance Comedy,In a Heartbeat
529,Ravi Udyawar,Sridevi Kapoor,Sajal Ali,Akshaye Khanna,Crime Drama Thriller,Mom
530,Daisy Asquith,NaN,NaN,NaN,NaN,Queerama

In [20]:
movie = movie.dropna(how='any')
movie.isna().sum()

director_name    0
actor_1_name     0
actor_2_name     0
actor_3_name     0
genres_list      0
title            0
dtype: int64

In [21]:
movie = movie.rename(columns={'genres_list':'genres'})
movie = movie.rename(columns={'title':'movie_title'})

movie['movie_title'] = movie['movie_title'].str.lower()

In [22]:
movie['comb'] = movie['actor_1_name'] + ' ' + movie['actor_2_name'] + ' '+ movie['actor_3_name'] + ' '+ movie['director_name'] +' ' + movie['genres']

In [23]:
movie.head(20)

,director_name,actor_1_name,actor_2_name,actor_3_name,genres,movie_title,comb
0,Joachim Rønning Espen Sandberg,Johnny Depp,Javier Bardem,Geoffrey Rush,Adventure Action Fantasy Comedy,pirates of the caribbean: dead men tell no tales,Johnny Depp Javier Bardem Geoffrey Rush Joachim Rønning Espen Sandberg ...
1,Zack Snyder,Ben Affleck,Henry Cavill,Gal Gadot,Action Adventure Fantasy Sci-Fi,justice league,Ben Affleck Henry Cavill Gal Gadot Zack Snyder Action Adventure Fantasy...
2,Taika Waititi,Chris Hemsworth,Tom Hiddleston,Cate Blanchett,Action Adventure Fantasy Sci-Fi,thor: ragnarok,Chris Hemsworth Tom Hiddleston Cate Blanchett Taika Waititi Action Adve...
3,James Gunn,Chris Pratt,Zoe Saldana,Dave Bautista,Action Adventure Comedy Sci-Fi,guardians of the galaxy vol. 2,Chris Pratt Zoe Saldana Dave Bautista James Gunn Action Adventure Comed...
4,Sean McNamara,Pierce Brosnan,William Hurt,Benjamin Walker,Fantasy Action Adventure,the king's daughter,Pierce Brosnan William Hurt Benjamin Walker Sean McNamara Fantasy Actio...
5,Adam Spinks,Ben Loyd-Holmes,Sarah Mac,Neil Newbon,Thriller Adventure,extinction: nature has evolved,Ben Loyd-Holmes Sarah Mac Neil Newbon Adam Spinks Thriller Adventure
6,Rucha Humnabadkar,Ali Fazal,Melanie Chandra,Omi Vaidya,Drama Comedy,for here or to go?,Ali Fazal Melanie Chandra Omi Vaidya Rucha Humnabadkar Drama Comedy
7,Sarik Andreasyan,Anton Pampushnyy,Sanzhar Madiyev,Sebastien Sisak,Action Fantasy Sci-Fi,guardians,Anton Pampushnyy Sanzhar Madiyev Sebastien Sisak Sarik Andreasyan Actio...
8,Peter Hutchings,Victoria Justice,Eden Sher,Ashley Rickards,Comedy,the outcasts,Victoria Justice Eden Sher Ashley Rickards Peter Hutchings Comedy
9,Patty Jenkins,Gal Gadot,Chris Pine,Robin Wright,Action Adventure Fantasy,wonder woman,Gal Gadot Chris Pine Robin Wright Patty Jenkins Action Adventure Fantasy
10,Kevin Munroe,Chris Murphy,Ian James Corlett,Matt Olsen,Animation Adventure Comedy Action Family,sly cooper,Chris Murphy Ian James Corlett Matt Olsen Kevin Munroe Animation Advent...
11,James Ponsoldt,Emma Watson,Tom Hanks,John Boyega,Drama Thriller Sci-Fi,the circle,Emma Watson Tom Hanks John Boyega James Ponsoldt Drama Thriller Sci-Fi
12,Trish Sie,Anna Kendrick,Rebel Wilson,Brittany Snow,Comedy,pitch perfect 3,Anna Kendrick Rebel Wilson Brittany Snow Trish Sie Comedy
14,Sean Byrne,Ethan Embry,Shiri Appleby,Kiara Glasco,Horror,the devil's candy,Ethan Embry Shiri Appleby Kiara Glasco Sean Byrne Horror
15,Roberto Doveris,Violeta Castillo,Ingrid Isensee,Mauricio Vaca,Drama,las plantas,Violeta Castillo Ingrid Isensee Mauricio Vaca Roberto Doveris Drama
16,Lloyd Kaufman,Asta Paredes,Catherine Corcoran,Zac Amino,Comedy Horror,"return to return to nuke 'em high, aka volume 2",Asta Paredes Catherine Corcoran Zac Amino Lloyd Kaufman Comedy Horror
17,David Jackson,Amanda Leighton,Samantha Boscarino,Hannah Kasulka,TV Movie Thriller,the cheerleader murders,Amanda Leighton Samantha Boscarino Hannah Kasulka David Jackson TV Movi...
18,Demetri Martin,Demetri Martin,Gillian Jacobs,Christine Woods,Comedy,dean,Demetri Martin Gillian Jacobs Christine Woods Demetri Martin Comedy
19,Alexandre Bustillo Julien Maury,Stephen Dorff,Lili Taylor,Sam Strike,Horror,leatherface,Stephen Dorff Lili Taylor Sam Strike Alexandre Bustillo Julien Maury Ho...
20,Johannes Roberts,Claire Holt,Mandy Moore,Chris Johnson,Drama Thriller Horror Adventure,47 meters down,Claire Holt Mandy Moore Chris Johnson Johannes Roberts Drama Thriller H...

In [24]:
old = pd.read_csv('C:/Users/SANTHOSH/Desktop/practise/flask/movie_recommandation/datasets/data.csv')
old.tail(20)

,director_name,actor_1_name,actor_2_name,actor_3_name,genres,movie_title
5023,Daryl Wein,Zoe Lister-Jones,Heather Burns,Ebon Moss-Bachrach,Romance,breaking upwards
5024,Jason Trost,Sean Whalen,Jason Trost,Nick Principe,Sci-Fi Thriller,all superheroes must die
5025,John Waters,Divine,Mink Stole,Edith Massey,Comedy Crime Horror,pink flamingos
5026,Olivier Assayas,Maggie Cheung,Béatrice Dalle,Don McKellar,Drama Music Romance,clean
5027,Jafar Panahi,Fereshteh Sadre Orafaiy,Nargess Mamizadeh,Mojgan Faramarzi,Drama,the circle
5028,Ivan Kavanagh,Patrick O'Donnell,Michael Parle,Emma Eliza Regan,Horror,tin can man
5029,Kiyoshi Kurosawa,Kôji Yakusho,Anna Nakagawa,Denden,Crime Horror Mystery Thriller,the cure
5030,Tadeo Garcia,Tatiana Suarez-Pico,Michael Cortez,Eric Ambriz,Drama,on the downlow
5031,Thomas L. Phillips,Julianna Pitt,Joe Coffey,John Lucas,Comedy Horror Thriller,sanctuary; quite a conundrum
5032,Ash Baron-Cohen,Peter Greene,Stanley B. Herman,James Noble,Crime Drama,bang
5033,Shane Carruth,Shane Carruth,David Sullivan,Casey Gooden,Drama Sci-Fi Thriller,primer
5034,Neill Dela Llana,Ian Gamazon,Edgar Tancangco,Quynn Ton,Thriller,cavite
5035,Robert Rodriguez,Carlos Gallardo,Peter Marquardt,Consuelo Gómez,Action Crime Drama Romance Thriller,el mariachi
5036,Anthony Vallone,Richard Jewell,John Considine,Sara Stepnicka,Crime Drama,the mongol king
5037,Edward Burns,Kerry Bishé,Caitlin FitzGerald,Daniella Pineda,Comedy Drama,newlyweds
5038,Scott Smith,Eric Mabius,Daphne Zuniga,Crystal Lowe,Comedy Drama,signed sealed delivered
5039,unknown,Natalie Zea,Valorie Curry,Sam Underwood,Crime Drama Mystery Thriller,the following
5040,Benjamin Roberds,Eva Boehnke,Maxwell Moody,David Chandler,Drama Horror Thriller,a plague so pleasant
5041,Daniel Hsia,Alan Ruck,Daniel Henney,Eliza Coupe,Comedy Drama Romance,shanghai calling
5042,Jon Gunn,John August,Brian Herzlinger,Jon Gunn,Documentary,my date with drew

In [25]:
old['comb'] = old['actor_1_name'] + ' ' + old['actor_2_name'] + ' '+ old['actor_3_name'] + ' '+ old['director_name'] +' ' + old['genres']

old.head(50)

,director_name,actor_1_name,actor_2_name,actor_3_name,genres,movie_title,comb
0,James Cameron,CCH Pounder,Joel David Moore,Wes Studi,Action Adventure Fantasy Sci-Fi,avatar,CCH Pounder Joel David Moore Wes Studi James Cameron Action Adventure F...
1,Gore Verbinski,Johnny Depp,Orlando Bloom,Jack Davenport,Action Adventure Fantasy,pirates of the caribbean: at world's end,Johnny Depp Orlando Bloom Jack Davenport Gore Verbinski Action Adventur...
2,Sam Mendes,Christoph Waltz,Rory Kinnear,Stephanie Sigman,Action Adventure Thriller,spectre,Christoph Waltz Rory Kinnear Stephanie Sigman Sam Mendes Action Adventu...
3,Christopher Nolan,Tom Hardy,Christian Bale,Joseph Gordon-Levitt,Action Thriller,the dark knight rises,Tom Hardy Christian Bale Joseph Gordon-Levitt Christopher Nolan Action ...
4,Doug Walker,Doug Walker,Rob Walker,unknown,Documentary,star wars: episode vii - the force awakens,Doug Walker Rob Walker unknown Doug Walker Documentary
5,Andrew Stanton,Daryl Sabara,Samantha Morton,Polly Walker,Action Adventure Sci-Fi,john carter,Daryl Sabara Samantha Morton Polly Walker Andrew Stanton Action Adventu...
6,Sam Raimi,J.K. Simmons,James Franco,Kirsten Dunst,Action Adventure Romance,spider-man 3,J.K. Simmons James Franco Kirsten Dunst Sam Raimi Action Adventure Romance
7,Nathan Greno,Brad Garrett,Donna Murphy,M.C. Gainey,Adventure Animation Comedy Family Fantasy Musical Romance,tangled,Brad Garrett Donna Murphy M.C. Gainey Nathan Greno Adventure Animation ...
8,Joss Whedon,Chris Hemsworth,Robert Downey Jr.,Scarlett Johansson,Action Adventure Sci-Fi,avengers: age of ultron,Chris Hemsworth Robert Downey Jr. Scarlett Johansson Joss Whedon Action...
9,David Yates,Alan Rickman,Daniel Radcliffe,Rupert Grint,Adventure Family Fantasy Mystery,harry potter and the half-blood prince,Alan Rickman Daniel Radcliffe Rupert Grint David Yates Adventure Family...
10,Zack Snyder,Henry Cavill,Lauren Cohan,Alan D. Purwin,Action Adventure Sci-Fi,batman v superman: dawn of justice,Henry Cavill Lauren Cohan Alan D. Purwin Zack Snyder Action Adventure S...
11,Bryan Singer,Kevin Spacey,Marlon Brando,Frank Langella,Action Adventure Sci-Fi,superman returns,Kevin Spacey Marlon Brando Frank Langella Bryan Singer Action Adventure...
12,Marc Forster,Giancarlo Giannini,Mathieu Amalric,Rory Kinnear,Action Adventure,quantum of solace,Giancarlo Giannini Mathieu Amalric Rory Kinnear Marc Forster Action Adv...
13,Gore Verbinski,Johnny Depp,Orlando Bloom,Jack Davenport,Action Adventure Fantasy,pirates of the caribbean: dead man's chest,Johnny Depp Orlando Bloom Jack Davenport Gore Verbinski Action Adventur...
14,Gore Verbinski,Johnny Depp,Ruth Wilson,Tom Wilkinson,Action Adventure Western,the lone ranger,Johnny Depp Ruth Wilson Tom Wilkinson Gore Verbinski Action Adventure W...
15,Zack Snyder,Henry Cavill,Christopher Meloni,Harry Lennix,Action Adventure Fantasy Sci-Fi,man of steel,Henry Cavill Christopher Meloni Harry Lennix Zack Snyder Action Adventu...
16,Andrew Adamson,Peter Dinklage,Pierfrancesco Favino,Damián Alcázar,Action Adventure Family Fantasy,the chronicles of narnia: prince caspian,Peter Dinklage Pierfrancesco Favino Damián Alcázar Andrew Adamson Actio...
17,Joss Whedon,Chris Hemsworth,Robert Downey Jr.,Scarlett Johansson,Action Adventure Sci-Fi,the avengers,Chris Hemsworth Robert Downey Jr. Scarlett Johansson Joss Whedon Action...
18,Rob Marshall,Johnny Depp,Sam Claflin,Stephen Graham,Action Adventure Fantasy,pirates of the caribbean: on stranger tides,Johnny Depp Sam Claflin Stephen Graham Rob Marshall Action Adventure Fa...
19,Barry Sonnenfeld,Will Smith,Michael Stuhlbarg,Nicole Scherzinger,Action Adventure Comedy Family Fantasy Sci-Fi,men in black 3,Will Smith Michael Stuhlbarg Nicole Scherzinger Barry Sonnenfeld Action...
20,Peter Jackson,Aidan Turner,Adam Brown,James Nesbitt,Adventure Fantasy,the hobbit: the battle of the five armies,Aidan Turner Adam Brown James Nesbitt Peter Jackson Adventure Fantasy
21,Marc Webb,Emma Stone,Andrew Garfield,Chris Zylka,Action Adventure Fantasy,the amazing spider-man,Emma Stone Andrew Garfield Chris Zylka Marc Webb Action Adventure Fantasy
22,Ridley Scott,Mark Addy,William Hurt,Scott Grimes,Action Adventure Drama History,robin hood,Mark Addy William Hurt Scott Grimes Ridley Scott Action Adventure Drama...
23,Peter Jackson,Aidan Turner,Adam Brown,James Nesbitt,Adventure Fantasy,the hobbit: the desolation of smaug,Aidan Turner Adam Brown James Nesbitt Peter Jackson Adventure Fantasy
24,Chris Weitz,Christopher Lee,Eva Green,Kristin Scott Thomas,Adventure Family Fantasy,the golden compass,Christopher Lee Eva Green Kristin Scott Thomas Chris Weitz Adventure Fa...
25,Peter Jackson,Naomi Watts,Thomas Kretschmann,Evan Parke,Action Adventure Drama Romance,king kong,Naomi Watts Thomas Kretschmann Evan Parke Peter Jackson Action Adventur...
26,James Cameron,Leonardo DiCaprio,Kate Winslet,Gloria Stuart,Drama Romance,titanic,Leonardo DiCaprio Kate Winslet Gloria Stuart James Cameron Drama Romance
27,Anthony Russo,Robert Downey Jr.,Scarlett Johansson,Chris Evans,Action Adventure Sci-Fi,captain america: civil war,Robert Downey Jr. Scarlett Johansson Chris Evans Anthony Russo Action A...
28,Peter Berg,Liam Neeson,Alexander Skarsgård,Tadanobu Asano,Action Adventure Sci-Fi Thriller,battleship,Liam Neeson Alexander Skarsgård Tadanobu Asano Peter Berg Action Advent...
29,Colin Trevorrow,Bryce Dallas Howard,Judy Greer,Omar Sy,Action Adventure Sci-Fi Thriller,jurassic world,Bryce Dallas Howard Judy Greer Omar Sy Colin Trevorrow Action Adventure...
30,Sam Mendes,Albert Finney,Helen McCrory,Rory Kinnear,Action Adventure Thriller,skyfall,Albert Finney Helen McCrory Rory Kinnear Sam Mendes Action Adventure Th...
31,Sam Raimi,J.K. Simmons,James Franco,Kirsten Dunst,Action Adventure Fantasy Romance,spider-man 2,J.K. Simmons James Franco Kirsten Dunst Sam Raimi Action Adventure Fant...
32,Shane Black,Robert Downey Jr.,Jon Favreau,Don Cheadle,Action Adventure Sci-Fi,iron man 3,Robert Downey Jr. Jon Favreau Don Cheadle Shane Black Action Adventure ...
33,Tim Burton,Johnny Depp,Alan Rickman,Anne Hathaway,Adventure Family Fantasy,alice in wonderland,Johnny Depp Alan Rickman Anne Hathaway Tim Burton Adventure Family Fantasy
34,Brett Ratner,Hugh Jackman,Kelsey Grammer,Daniel Cudmore,Action Adventure Fantasy Sci-Fi Thriller,x-men: the last stand,Hugh Jackman Kelsey Grammer Daniel Cudmore Brett Ratner Action Adventur...
35,Dan Scanlon,Steve Buscemi,Tyler Labine,Sean Hayes,Adventure Animation Comedy Family Fantasy,monsters university,Steve Buscemi Tyler Labine Sean Hayes Dan Scanlon Adventure Animation C...
36,Michael Bay,Glenn Morshower,Kevin Dunn,Ramon Rodriguez,Action Adventure Sci-Fi,transformers: revenge of the fallen,Glenn Morshower Kevin Dunn Ramon Rodriguez Michael Bay Action Adventure...
37,Michael Bay,Bingbing Li,Sophia Myles,Kelsey Grammer,Action Adventure Sci-Fi,transformers: age of extinction,Bingbing Li Sophia Myles Kelsey Grammer Michael Bay Action Adventure Sc...
38,Sam Raimi,Tim Holmes,Mila Kunis,James Franco,Adventure Family Fantasy,oz the great and powerful,Tim Holmes Mila Kunis James Franco Sam Raimi Adventure Family Fantasy
39,Marc Webb,Emma Stone,Andrew Garfield,B.J. Novak,Action Adventure Fantasy Sci-Fi,the amazing spider-man 2,Emma Stone Andrew Garfield B.J. Novak Marc Webb Action Adventure Fantas...
40,Joseph Kosinski,Jeff Bridges,Olivia Wilde,James Frain,Action Adventure Sci-Fi,tron: legacy,Jeff Bridges Olivia Wilde James Frain Joseph Kosinski Action Adventure ...
41,John Lasseter,Joe Mantegna,Thomas Kretschmann,Eddie Izzard,Adventure Animation Comedy Family Sport,cars 2,Joe Mantegna Thomas Kretschmann Eddie Izzard John Lasseter Adventure An...
42,Martin Campbell,Ryan Reynolds,Temuera Morrison,Taika Waititi,Action Adventure Sci-Fi,green lantern,Ryan Reynolds Temuera Morrison Taika Waititi Martin Campbell Action Adv...
43,Lee Unkrich,Tom Hanks,John Ratzenberger,Don Rickles,Adventure Animation Comedy Family Fantasy,toy story 3,Tom Hanks John Ratzenberger Don Rickles Lee Unkrich Adventure Animation...
44,McG,Christian Bale,Bryce Dallas Howard,Common,Action Adventure Sci-Fi,terminator salvation,Christian Bale Bryce Dallas Howard Common McG Action Adventure Sci-Fi
45,James Wan,Jason Statham,Paul Walker,Vin Diesel,Action Crime Thriller,furious 7,Jason Statham Paul Walker Vin Diesel James Wan Action Crime Thriller
46,Marc Forster,Peter Capaldi,Brad Pitt,Mireille Enos,Action Adventure Horror Sci-Fi Thriller,world war z,Peter Capaldi Brad Pitt Mireille Enos Marc Forster Action Adventure Hor...
47,Bryan Singer,Jennifer Lawrence,Peter Dinklage,Hugh Jackman,Action Adventure Fantasy Sci-Fi Thriller,x-men: days of future past,Jennifer Lawrence Peter Dinklage Hugh Jackman Bryan Singer Action Adven...
48,J.J. Abrams,Benedict Cumberbatch,Bruce Greenwood,Noel Clarke,Action Adventure Sci-Fi,star trek into darkness,Benedict Cumberbatch Bruce Greenwood Noel Clarke J.J. Abrams Action Adv...
49,Bryan Singer,Eddie Marsan,Ewen Bremner,Ralph Brown,Adventure Fantasy,jack the giant slayer,Eddie Marsan Ewen Bremner Ralph Brown Bryan Singer Adventure Fantasy

In [26]:
new = old.append(movie)
new.head(100)

,director_name,actor_1_name,actor_2_name,actor_3_name,genres,movie_title,comb
0,James Cameron,CCH Pounder,Joel David Moore,Wes Studi,Action Adventure Fantasy Sci-Fi,avatar,CCH Pounder Joel David Moore Wes Studi James Cameron Action Adventure F...
1,Gore Verbinski,Johnny Depp,Orlando Bloom,Jack Davenport,Action Adventure Fantasy,pirates of the caribbean: at world's end,Johnny Depp Orlando Bloom Jack Davenport Gore Verbinski Action Adventur...
2,Sam Mendes,Christoph Waltz,Rory Kinnear,Stephanie Sigman,Action Adventure Thriller,spectre,Christoph Waltz Rory Kinnear Stephanie Sigman Sam Mendes Action Adventu...
3,Christopher Nolan,Tom Hardy,Christian Bale,Joseph Gordon-Levitt,Action Thriller,the dark knight rises,Tom Hardy Christian Bale Joseph Gordon-Levitt Christopher Nolan Action ...
4,Doug Walker,Doug Walker,Rob Walker,unknown,Documentary,star wars: episode vii - the force awakens,Doug Walker Rob Walker unknown Doug Walker Documentary
...,...,...,...,...,...,...,...
95,James Gunn,Bradley Cooper,Vin Diesel,Djimon Hounsou,Action Adventure Sci-Fi,guardians of the galaxy,Bradley Cooper Vin Diesel Djimon Hounsou James Gunn Action Adventure Sc...
96,Christopher Nolan,Matthew McConaughey,Anne Hathaway,Mackenzie Foy,Adventure Drama Sci-Fi,interstellar,Matthew McConaughey Anne Hathaway Mackenzie Foy Christopher Nolan Adven...
97,Christopher Nolan,Leonardo DiCaprio,Tom Hardy,Joseph Gordon-Levitt,Action Adventure Sci-Fi Thriller,inception,Leonardo DiCaprio Tom Hardy Joseph Gordon-Levitt Christopher Nolan Acti...
98,Hideaki Anno,Mark Chinnery,Shin'ya Tsukamoto,Atsuko Maeda,Action Adventure Drama Horror Sci-Fi,godzilla resurgence,Mark Chinnery Shin'ya Tsukamoto Atsuko Maeda Hideaki Anno Action Advent...
99,Peter Jackson,Aidan Turner,Adam Brown,James Nesbitt,Adventure Fantasy,the hobbit: an unexpected journey,Aidan Turner Adam Brown James Nesbitt Peter Jackson Adventure Fantasy

In [27]:
new.drop_duplicates(subset ="movie_title", keep = 'last', inplace = True)
new.tail()

,director_name,actor_1_name,actor_2_name,actor_3_name,genres,movie_title,comb
524,Jim Strouse,Jessica Williams,Chris O'Dowd,Keith Stanfield,Romance Comedy,the incredible jessica james,Jessica Williams Chris O'Dowd Keith Stanfield Jim Strouse Romance Comedy
525,Farhad Mann,Adelaide Kane,Benjamin Hollingsworth,Jean Louisa Kelly,Romance,can't buy my love,Adelaide Kane Benjamin Hollingsworth Jean Louisa Kelly Farhad Mann Romance
526,Hannaleena Hauru,Inka Haapamäki,Rosa Honkonen,Tiitus Rantala,Romance Comedy,thick lashes of lauri mäntyvaara,Inka Haapamäki Rosa Honkonen Tiitus Rantala Hannaleena Hauru Romance Co...
527,Jonathan A. Rosenbaum,Lou Diamond Phillips,Wallace Shawn,Gina Holden,Crime Comedy Action Family,cop and a half: new recruit,Lou Diamond Phillips Wallace Shawn Gina Holden Jonathan A. Rosenbaum Cr...
529,Ravi Udyawar,Sridevi Kapoor,Sajal Ali,Akshaye Khanna,Crime Drama Thriller,mom,Sridevi Kapoor Sajal Ali Akshaye Khanna Ravi Udyawar Crime Drama Thriller

In [28]:
new.to_csv('C:/Users/SANTHOSH/Desktop/practise/flask/movie_recommandation/datasets/new_data.csv',index=False)